@{
    ViewBag.Title = "Contacto";
}


<address>
    <h3>Belen La Mota</h3><br />
    <h4>Address: Transversal 5 # 75D 124</h4><br />
    <h4>Phone: 559 22 30</h4>
    
</address>

<address>
    <h4><strong>Email:</strong> </h4> <h3><a href="mailto:Support@example.com">LaMota@example.com</a><br /></h3>
</address>