@{
    ViewBag.Title = "Contacto";
}


<address>
    <h3>Barrio Belen La Mota</h3><br />
    <h4>Dirección:Transversal 5 # 75D 124</h4><br />
    <h4>Teléfono: 559 22 30</h4>
    
</address>

<address>
    <h4><strong>Correo electrónico:</strong> </h4> <a href="mailto:Support@example.com">LaMota@example.com</a><br />
</address>