@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Belen La Mota Store</h2>
    <p class="lead">A place with all that you need with the best prices in town.</p>
    <p><a href="https://www.google.com.co/search?biw=1366&bih=657&tbm=lcl&sxsrf=ALeKk02wK4oU9XIva0OdcA31CZ4QCPJ0bA%3A1592615352125&ei=uGHtXp-UB4yQ_QbP36foBg&q=Transversal+5+%2374D124&oq=Transversal+5+%2374D124&gs_l=psy-ab.3..33i160k1l2.8316.19833.0.21264.49.25.1.3.3.0.283.3541.0j9j8.18.0....0...1c.1.64.psy-ab..28.18.3114.10..0j38j35i39k1j35i362i39k1j0i131k1j0i433k1j0i67k1j0i433i67k1j0i10k1j0i22i30k1.286.EGoGk1V1SoY#rlfi=hd:;si:15375431735088869158;mv:[[6.2156652773190295,-75.59812385847158],[6.21530532268097,-75.59848594152844]]" target="_blank" class="btn btn-primary btn-lg">Location &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sales</h2>
        <h4>
          Visit the list of our sales.
        </h4>
        <p><a class="btn btn-primary" href="https://localhost:44307/Sale">Sales &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Costumers</h2>
        <h4>Visit the list of our costumers.</h4>
        <p><a class="btn btn-primary" href="https://localhost:44307/Costumer">Costumers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <h4>Visit the list of our products.</h4>
        <p><a class="btn btn-primary" href="https://localhost:44307/Product">Products &raquo;</a></p>
    </div>
</div>