@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Tienda Belen La Mota</h2>
    <p class="lead">Un lugar con todos los productos que usted necesita y al mejor precio.</p>
    <p><a href="https://es.wikipedia.org/wiki/Bel%C3%A9n_(Medell%C3%ADn)" class="btn btn-primary btn-lg">Ubicación &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>
            Conozca la lista de las ventas que tenemos en nuestra tienda.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ventas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Conozca nuestros principales clientes</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Clientes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Conozca nuestros principales productos</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Productos &raquo;</a></p>
    </div>
</div>